
*{
    margin: 0;
    padding: 0;
    transition: .2s;
    font-family: "Archivo Black", sans-serif;
}
body, html {
    margin: 0;
    padding: 0;
    background-color: #000000;
    transform-style: preserve-3d;
  perspective: 1000px;
  font-family: 'Roboto', sans-serif;
  overflow: hidden;
  height: 100vh;
}


nav {
    display: flex;
    height: 80px;
    background: #010101;
    align-items: flex-end;
    justify-content: space-between;
    padding: 0 50px 0 50px;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    text-transform: uppercase !important;
}

nav .logo {
    color: #fff;
    font-size: 35px;
    font-weight: 600;
    display: none;
    width: 2em;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    z-index: 10;
}

nav ul li {
    margin: 0 5px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 15px;
    border-radius: 9999px;
    letter-spacing: 1px;
    transition: all 0.3s ease, opacity 0.5s ease;
    opacity: 1; /* Initially hidden */
}
nav a.active {
    background-color: #f1f2f6;
    background-image: linear-gradient(
315deg, #f1f2f6 0%, #c9c6c6 74%);
    color: #000;
}
@media (max-width: 48em) {
    nav a.active {
    background: transparent;
    color: #8d8d8d;
}
.logo {
    display: block !important;
}
nav {
    flex-direction: row;
    align-items: center;
}
}


nav ul li a:hover {
    color: #8d8d8d;
    border-radius: 9999px;
}

nav .menu-btn {
    color: #fff;
    font-size: 22px;
    cursor: pointer;
    display: none;
}

input[type="checkbox"] {
    display: none;
}

@media (max-width: 1000px) {
    nav {
        padding: 0 30px 0 30px;
    }
}

@media (max-width: 920px) {
    nav .menu-btn {
        display: block;
    }

    #click:checked ~ .menu-btn i:before {
        content: "\f00d";
    }

    nav ul {
        position: fixed;
        top: 80px;
        left: -100%;
        background: #000;
        height: 100vh;
        width: 100%;
        text-align: center;
        display: block;
        transition: all 0.3s ease;
    }

    #click:checked ~ ul {
        left: 0;
    }

    nav ul li {
        width: 100%;
        margin: 10px 0;
    }

   nav ul li a {
        width: 100%;
        margin-left: -100%;
        display: block;
        font-size: 20px;
        transition: margin-left 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55), opacity 5s ease;
        opacity: 0;
    }

    #click:checked ~ ul li a {
        margin-left: 0px;
        opacity: 1; /* Fade in the links */
    }

   
}
.header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2em 10em;
    height: 70vh;
    background-color: #000000;
    color: #8d8d8d;
    perspective: 1000px;
}
header div {
    width: 100% !important;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column
}
header div:first-child {
    justify-content: flex-start;
}
header a {
    height: 3em;
    width: 10em;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: .6em;
    color: #fff;
    border: 1px solid #fff;
    text-decoration: none;
    border-radius: 9999px;
}
header a:first-child:hover {
transform: translateX(-2%);
}
header a:hover {
transform: translateX(2%);
}


.link-wrap {
    display: flex;
    flex-direction: row;
    gap: 3em;
    justify-content: center;
}
.header h1 {
    font-size: 2.5em;
    margin: 0;
    text-align: center;
    margin-bottom: 1em;
    position: relative;
    text-transform: uppercase;
}
.socials a:hover {
    transform: scale(1.1);
}
.image-container {
    width: 40% !important;
    height: auto;
    perspective: 1000px; animation: bounce 2s cubic-bezier(0.25, 0.1, 0.25, 1) infinite;
}

.tilt-image {
    width: 90%;
    height: 100%;
    transition: transform 0.5s ease;
    display: inline-block;
   
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(0%);
    }
    50% {
        transform: translateY(-2%);
    }
}

.tilt-image::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.2));
  opacity: 0;
  transition: opacity 0.3s;
  pointer-events: none;
  animation: shimmer 2s infinite;
}

@keyframes shimmer {
  0% {
    background-position: -100% 0;
  }
  100% {
    background-position: 100% 0;
  }
}

.tilt-image {
  transition: transform 0.3s ease;
  transform-style: preserve-3d;
}

.tilt-image.tilt {
  transform: rotate3d(1, 0.5, 1, 30deg);
}
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2em 5%;
  flex-direction: column;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 90%;
}
.copyright {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}
.socials {
  display: flex;
  gap: 1em;
  margin-bottom: 1em;
}
.socials a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}
.login {
  color: #fff;
  display: flex;
  height: 2.5em;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  gap: .5em;
  font-weight: bold;
}
.logo {
  width: 2em;
}
model-viewer {
    width: 100%; /* Make the model viewer full width */
    height: 60vh; /* Maintain aspect ratio */
    max-height: 500px; /* Set a maximum height for the model */
}
.image-container {
    width: 50% !important; /* Full width */
    max-width: 100%; /* Ensure it does not exceed 100% */
    overflow: hidden; /* Hide overflow if necessary */
}
@media (max-width: 48em){
    header {
    flex-direction: column-reverse;
    padding: 2em !important;
    height: auto !important;
    gap: 1em;
    padding-top: 0 !important;
}
    .header h1 {
      font-size: 1.7em;
    }
    .link-wrap {
        gap: 0;
         justify-content: space-between;
         gap: 2em;
    }
    .header h1 {
    margin: 0;
    text-align: center;
    margin-bottom: 1em;
}
.header img {
    width: 70%;
    height: auto;
}
nav ul li a {
  padding: 1em 0;
}
footer {
  position: relative;
}
.login {
    display: flex;
    font-size: .8em;
}

.tilt-image {
    width: 100%;
}
.image-container {
  height: auto !important;
}
.image-container {
    width: 80% !important;
    max-width: 100%;
    overflow: hidden;
}
body {
  overflow: scroll;
}
}

.fade-in {
            opacity: 0;
            display: inline-block;
            transition: opacity 0.5s;
        }
